/* color: #187cd1; */
body,html {
	/* background: #eee
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF3d3d////riJKgAAAAAJ0Uk5T/wDltzBKAAAAFUlEQVR42mJgBAEGGMmAxAYCgAADAAGGABmnk/7aAAAAAElFTkSuQmCC); */
	*background-image: url(image/b1.jpg);
	*background-image: url(image/congruent_outline.png);
	background-image: url(image/kindajean.png);
	*background-color: #fff;
	font: 14px sans-serif;
}

input#tar_change {
	width: 395px;
	padding: 5px;
}

#middleImage {
	width: 960px;
	height: 480px;
	content: url(image/middle.png);
	*background-image: url(image/middle.jpg);
}

textarea {
	resize: none;
	border: 1px solid #0092a1;
	border-radius: 5px;
	width: 400px;
}

.help {
	font: italic 8pt/12pt sans-serif;
	text-align: left;
	color: rgb(150, 150, 150);
}

#greenPrice {
	background-color: #00383c;
	color: #fff;
	text-align: right;
}

div.p {
	background-color: #00383c;
	text-align: center;
	padding: 5px;
	margin: 0 20% 20px;
	color: white;
	border-radius: 0px 0px 15px 15px;
	font: 12pt Arial;
}

p {
	margin: 20px 30px;
	border-top: 2px ridge rgb(25, 89, 107);
	padding: 10px;
	background-color: white;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	*box-shadow: 0px 25px 30px -20px rgba(0, 0, 0, 0.7);
	line-height: 2;
}

#p {
	margin: 30px;
	border-top: 2px solid #00383c;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: white;
	*box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1) inset;
	border: 1px groove rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	line-height: 2;
	padding-left: 10px;
}

#p_info {
	margin: 10px 0px;
	padding: 0 10px;
	border: 1px solid #187cd1;
	border-radius: 20px;
}

#p_info_red {
	margin: 10px 0px;
	padding: 0 10px;
	border: 1px solid red;
	border-radius: 20px;
}

#p_info_red a {
	text-decoration: none;
}

#p_info_green {
	margin: 10px 0px;
	padding: 0 10px;
	border: 1px solid green;
	border-radius: 20px;
}

font.mesGreen {
	display: block;
	text-align: center;
	color: green;
}

font.log {
	color: black;
	text-decoration: none;
}

#log {
	display: block;
	text-align: center;
	color: rgb(243, 22, 61);
}

div.exit {
	text-align: left;
	padding: 5px;
}

#line {
	display: inline;
}

table {
	margin: 10px auto;
	border-spacing: 15px;
}

td.tariff {
	background-image: url(image/tariff.png);
	height: 86px;
	width: 150px;
	margin: 0;
	vertical-align: bottom;
	color: white;
	line-height: 30px;
	font: bold 18pt/40px Arial;
	padding: 0;
}

td.tariff_2 {
	background-image: url(image/tariff.png);
	height: 86px;
	width: 150px;
	margin: 0;
	vertical-align: middle;
	color: white;
	line-height: 30px;
	font: bold 18pt/40px Arial;
	padding: 0;
}

td.tariff_3 {
	background-image: url(image/tariff_2.png);
	height: 86px;
	width: 150px;
	margin: 0;
	vertical-align: middle;
	color: white;
	line-height: 30px;
	font: bold 18pt/40px Arial;
	padding: 0;
}

.tariffBtn {
	font: bold 12pt Arial;
	color: white;
	background: rgba(0, 0, 0, 0);
	vertical-align: bottom;
	padding-top: 4px;
	padding-bottom: 3px;
	width: 120px;
	border: 0;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
	cursor: pointer;
}

.tariffBtn:hover {
	color: #0083a0;
	cursor: pointer;
}

table.register {
	padding: 0px;
	border-spacing: 10px;
}

table.register tr,th,td {
	padding: 0px;
}

table.register tr td input {
	width: 200px;
}

td#text {
	width: 130px;
}

table.tariff {
	width: 100%;
	margin: auto;
	border-spacing: 0;
	margin: auto;
	box-shadow: 0;
	*background-color: rgb(240, 240, 240);
	box-shadow: 0px 20px 30px -20px rgba(0, 0, 0, 0.6);
}

table.tariff th {
	text-align: center;
	color: #fff;
	background-color: #00393d;
	border: 1px solid #00383c;
}

#name {
	font: bold 18pt Arial;
	color: #00383c;
	width: 230px;
}

td#info {
	width: 20px;
	background-color: rgba(0,0,0,0.2);
	color: rgba(0,0,0,0.4);
	font: bold 22pt Arial;
	cursor: pointer;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

td#info:hover {
	background-color: #0083a0;
	color: white;
}

table.tariff tr {
	*background-color: #dfeaf4;
	background-color: rgb(240, 240, 240);
}

table.tariff td {
	text-align: center;
	padding: 0;
	background-color: #ebebeb;
}

table.info {
	border-spacing: 5px;
	width: 100%;
	margin: auto;
	border-spacing: 1px;
	margin: auto;
}

td {
	text-align: right;
}

table.info tr {
	border: 1px solid rgba(0, 162, 232, 0.2);
	text-align: center;
}

td#logo {
	cursor: pointer;
	background-color: #e3e3e3;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

td#logo:hover {
	background-color: #0083a0;
	color: white;
}

table.info td {
	border: 1px dotted rgba(0, 162, 232, 0.2);
	text-align: center;
}

.key {
	color: white;
	background: #5f6975;
	text-align: center;
}

table.info th {
	color: white;
	background-image: linear-gradient(to bottom, #00393d 0%, #002c2f 100%);
}

#tab {
	-webkit-box-shadow: 0px 14px 19px -2px rgba(54, 50, 50, 0.44);
	-moz-box-shadow: 0px 14px 19px -2px rgba(54, 50, 50, 0.44);
	box-shadow: 0px 14px 19px -2px rgba(54, 50, 50, 0.44);
}

a.goTo {
	display: block;
	text-decoration: none;
	background-color: #0083a0;
	color: white;
	font-weight: bold;
	padding: 5px 0;
	margin: 20px auto 10px;
	width: 50%;
	border-radius: 20px;
	text-align: center;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

a.goTo:hover {
	color: #e3e3e3;
	background-color: #00393d;
}

a#go {
	background-color: #0083a0;
}

td.middle,th {
	text-align: center;
}

table.main {
	width: 90%;
	margin: auto;
	border-spacing: 0;
	box-shadow: 0;
	border-spacing: 25px;
	font: 15px/25px arial;
	word-spacing: 10px;
}

table.main th {
	text-align: left;
	width: 30%;
	height: 50px;
	padding: 10px;
	text-decoration: none;
	color: black;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
	cursor: pointer;
}

table.main th:hover {
	color: grey;
	*background-color: #b1d5cc;
	background-color: #fff;
	border-radius: 10px;
	border-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

table.main td {
	*border: 1px solid black;
	text-align: left;
	vertical-align: top;
}

form.left {
	text-align: left;
}

form.login {
	margin: 30px;
	border-top: 2px ridge rgb(25, 89, 107);
	padding: 10px;
	background-color: white;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 25px 30px -20px rgba(0, 0, 0, 0.7);
	line-height: 2;
}

div.register {
	box-shadow: 0px -5px 10px -5px rgba(0, 0, 0, 0.7) inset;
	background-color: #e6e7e9;
	width: 960px;
	margin: 0 auto;
	height: 37px;
	vertical-align: middle;
}

table.login {
	margin: 0 auto;
	padding-top: 3px;
	border-spacing: 0;
}

div.login {
	background: white;
	width: 500px;
	height: 500px;
	margin: auto;
	padding: auto;
	border-top: 2px solid rgba(0, 162, 232, 0.9);
}

form {
	padding: 5px;
	clear: both;
}

input {
	width: 160px;
	border-radius: 5px;
	border: 1px solid #0092a1;
}

#middle {
	text-align: center;
	font-size: 16px;
}

p img {
	width: 99%;
}

#img {
	text-align: center;
}

header.header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	*width: 1024px;
	text-align: center;
	*box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.7);
}

div.title {
	border-top: 10px solid #002c2f;
	border-bottom: 10px solid #002c2f;
	font: bold 20pt Arial;
	padding: 2px;
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

div.title img {
	opacity: 1;
}

#round {
	border-radius: 0px 20px 0px 0px;
}

a.mod {
	display: block;
	padding: 0px;
	width: 40px;
	height: 40px;
	margin: auto;
}

a.mod:hover img {
	background-color: rgba(0, 0, 0, 0.1);
}

div.middle_ {
	background-color: #e6e7e9;
	position: relative;
	width: 960px;
	top: 514px;
	margin: 0 auto 140px;
	height: 800px;
	box-shadow: 0px -10px 30px 10px rgba(0, 0, 0, 0.3);
}

div.middle_1 {
	background-color: #e6e7e9;
	padding-top: 0.5px;
	padding-bottom: 10px;
	display: block;
	clear: both;
	position: relative;
	width: 960px;
	top: 164px;
	margin: 0 auto 140px;
	box-shadow: 0px -10px 30px 10px rgba(0, 0, 0, 0.3);
}

div.middle_2 {
	background-color: #e6e7e9;
	padding-top: 0.5px;
	padding-bottom: 10px;
	display: block;
	clear: both;
	position: relative;
	width: 960px;
	top: 624px;
	margin: 0 auto 140px;
	box-shadow: 0px -10px 30px 10px rgba(0, 0, 0, 0.3);
}

div.middle_3 {
	background-color: #e6e7e9;
	position: relative;
	width: 960px;
	top: 477px;
	margin: 0 auto 140px;
	height: 350px;
	*box-shadow: 0px 80px 100px -70px rgba(0, 0, 0, 0.5);
	box-shadow: 0px -10px 30px 10px rgba(0, 0, 0, 0.3);
}

div.middle_4 {
	background-color: #e6e7e9;
	padding-top: 0.5px;
	padding-bottom: 10px;
	display: block;
	clear: both;
	position: relative;
	width: 960px;
	top: 120px;
	margin: 0 auto 140px;
	box-shadow: 0px -10px 30px 10px rgba(0, 0, 0, 0.3);
}

div.middle_abon {
	background-color: #e6e7e9;
	position: relative;
	width: 1200px;
	padding-top: 0.5px;
	top: 164px;
	margin: 0 auto 140px;
	padding-bottom: 10px;
	display: block;
	clear: both;
	*box-shadow: 0px 80px 100px -70px rgba(0, 0, 0, 0.5);
	box-shadow: 0px -10px 30px 10px rgba(0, 0, 0, 0.3);
}

div.middleLogin {
	padding-top: 20px;
	background-color: #e6e7e9;
	position: relative;
	width: 960px;
	top: 120px;
	margin: 0 auto 140px;
	*box-shadow: 0px 80px 100px -70px rgba(0, 0, 0, 0.5);
	box-shadow: 0px -10px 30px 10px rgba(0, 0, 0, 0.3);
	height: 330px;
	background-color: #e6e7e9;
}

#up {
	position: relative;
	text-align: center;
	top: 50%;
	opacity: 0.6;
}

/* MENU */
#main {
	max-width: 960px;
	margin: 0 auto;
}

div.footer {
	margin-top: 100px;
	width: 100%;
	height: 40px;
	background-color: #00383c;
	text-align: center;
	padding: 1px 0;
	margin-bottom: 0px;
}

div.footer span {
	display: block;
	color: white;
	font: bold 10pt arial;
	vertical-align: middle;
}

nav {
	color: #000000;
	background-color: #00383c;
	vertical-align: middle;
	box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
	z-index: 1;
	position: relative;
	width: 960px;
	height: 60px;
	margin: 0 auto;
	vertical-align: middle;
}

nav.abon {
	width: 1200px;
}

nav ul {
	list-style: none;
	display: inline-table;
	text-align: left;
	*display: inline;
	margin: 0;
	vertical-align: middle;
	position: relative;
	list-style: none;
	*box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	position: relative;
}

nav ul li {
	vertical-align: middle;
	margin: 0px;
	font: 14px/18px arial;
	display: inline-block;
	position: relative;
	*color: rgba(255, 255, 255, 0.9);
	*text-shadow: 0 1px 0 #000;
	padding: 21px 50px;
}

nav ul li:hover {
	*color: rgb(3, 49, 99);
	*color: white;
	background-color: rgba(0, 0, 0, 0.2);
}

nav ul ul {
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}

nav ul li ul {
	opacity: 0;
	left: 0;
	visibility: hidden;
	display: none;
	z-index: 2;
	position: absolute;
	top: 100%;
}

nav ul li ul li {
	padding: 10px 25px;
	border-radius: 0;
	*background: #4b545f;
	background-color: #00383c;
	*background: rgb(50, 50, 50);
	display: block;
	color: #fff;
	text-align: middle;
}

nav ul li:hover ul {
	background-color: #00383c;
	display: block;
	opacity: 1;
	visibility: visible;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
	text-shadow: 0px 2px 4px black;
}

nav ul li:hover a {
	color: #0092a0;
}

.active {
	background-color: rgba(0, 0, 0, 0.2);
}

#active {
	color: #0092a0;
}

nav ul ul li {
	float: none;
	border-top: 1px solid #0092a0;
	*border-bottom: 1px solid #0092a0;
	position: relative;
}

nav ul ul li a {
	padding: 15px 30px;
	color: #fff;
}

/* !MENU */
.link {
	display: block;
	font: 16pt sans-serif;
	text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 5px;
	*background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
}

b.rigth {
	text-align: rigth;
}

#nondecoration {
	color: black;
	text-decoration: none;
}

.tbs-icon {
	padding-left: 5px;
	margin-left: 8px;
	background-image: url(image/sort.png);
	background-repeat: no-repeat;
	*background-position: 1px 10%;
}

.trueIcon {
	padding-left: 7px;
	background-image: url(image/green.png);
	background-repeat: no-repeat;
}

.falseIcon {
	padding-left: 7px;
	background-image: url(image/red.png);
	background-repeat: no-repeat;
}

input.middle {
	color: white;
	font-size: 12px;
	background: #00393d;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	border: 1px solid grey;
	text-shadow: 0px 2px 4px black;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

input.middle:hover {
	background: #002c2f;
	color: #0092a0;
	text-decoration: none;
}

td#smallDesc {
	width: 300px;
}

.btn {
	color: white;
	font-size: 12px;
	background: #00393d;
	width: 85px;
	text-align: center;
	vertical-align: middle;
	padding : 5px 0;
	border-radius: 3px;
	border: 1px solid grey;
	text-shadow: 0px 2px 4px black;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
	cursor: pointer;
	padding: 5px 0;
}

#btn {
	width: 57px;
	margin: auto;
}

.btn:hover {
	background: #002c2f;
	color: #0092a0;
	text-decoration: none;
}

.btnred {
	color: white;
	font-size: 12px;
	background: #830c0c;
	width: 75px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-radius: 3px;
	border: 1px solid grey;
	text-shadow: 0px 2px 4px black;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.btnred:hover {
	color: #bbb;
	background: #b00c0c;
	text-decoration: none;
}

#smallTd {
	width: 90px;
}

}
.btn_1 {
	color: white;
	font-size: 12px;
	background: #4a4a4a;
	width: 60px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 1px solid grey;
}

.btn_1:hover {
	background: #424242;
	background-image: -webkit-linear-gradient(top, #4a4a4a, #000000);
	background-image: -moz-linear-gradient(top, #4a4a4a, #000000);
	background-image: -ms-linear-gradient(top, #4a4a4a, #000000);
	background-image: -o-linear-gradient(top, #4a4a4a, #000000);
	background-image: linear-gradient(to bottom, #4a4a4a, #000000);
	text-decoration: none;
}

#right {
	background-color: #0092a0;
	color: #002c2f;
	text-align: right;
}

/* /* services */
#services {
	max-width: 777px;
	margin: 0 auto;
}

#services nav {
	width: 777px;
}

#services nav ul li {
	padding: 9px 28px;
}